
input,textarea,select{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  margin-right: 60%;
  margin-left: 10%;
  border-radius: 5px;

}
.label{
  color: white;
  margin-left: 11%;

}

input,textarea::-webkit-input-placeholder {
    font-weight: bold;
}
.sub{
  background-color:grey;
  color: white;
  text-align:center;
}


form{
    margin-top: 2%;
}
.head{
  text-align: center;
}
body{
  background-image:url('abc.jpg');
}
.head{
  color:white;
  margin-right: 60%;
  margin-left: 10%;
  font-family: monospace;
  font-size:30px
}
@media screen and (max-width: 800px){

input,textarea,select{
width: 60%;
margin-right: auto;
}
.label{
  width: 30%;
  margin-left:30%
}

}
